<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="description" content="Unlock the power of data-driven trading with Signal Scope. Our platform provides cutting-edge tools, analytics, and real-time insights to help traders maximize their potential.">
    <meta property="og:title" content="#1 Data-Driven Trading Platform - Signal Scope">
    <meta property="og:description" content="Empower your trading strategy with real-time insights and advanced tools. Start making smarter, data-driven decisions with Signal Scope.">
    <meta property="og:url" content="https://www.SignalScope.com">
    <meta property="og:image" content="https://www.SignalScope.com/static/images/og-image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="#1 Trading Platform for Data-Driven Traders - Signal Scope">
    <meta name="twitter:description" content="Signal Scope helps you master the markets with advanced analytics, real-time data, and algorithmic trading tools. Start trading smarter today.">
    <meta name="twitter:image" content="https://www.SignalScope.com/static/images/twitter-image.jpg">
    <meta name="twitter:site" content="@SignalScope">
    <link rel="canonical" href="https://www.SignalScope.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Signal Scope Team">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="trading platform, algorithmic trading, data-driven trading, market analytics, SignalScope">
    <meta name="theme-color" content="#000000">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{% static 'landing_page/css/landing_page.css' %}">
    <script src="{% static 'landing_page/js/landing_page.js' %}"></script>
    <title>Scope Signal</title>
</head>
<body>
    <h1>Landing Page</h1>
    
</body>
</html>