*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    background-color: var(--primary-color);
    text-decoration: none;
    box-sizing: border-box;
    color: var(--bg-color);
    font-family: "Gruppo", system-ui;
}

:root{
    --ff:"inter", sans-serif;
    --h1: bold 4rem/1em var(--bg-color);
    --h2: bold 3rem/1.2em var(--bg-color);
    --h3: bold 2.25rem/1.2em var(--bg-color);
    --h4: bold 1.5rem/1.6em var(--bg-color);
    --big: 1.25rem/1.6em var(--bg-color);
    --p: 1rem/1.6em var(--bg-color);
    --small:  0.75rem/1em var(--bg-color);

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    --primary-color: #071013;
    --secondary-color: #208FD2;
    --bg-color: #FDF0D5;
    --red-color: #B50B0B;

}

/* Custom font styles */
.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
.montserrat-regular {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
