*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  scroll-behavior: smooth;
}

body{
  background-color: var(--white);
  color: var(--beautiful-grey);
  z-index: 1000;
}

:root{
  --ff:"inter", sans-serif;
  --h1: bold 4rem/1em var(--bg-color);
  --h2: bold 3rem/1.2em var(--bg-color);
  --h3: bold 2.25rem/1.2em var(--bg-color);
  --h4: bold 1.5rem/1.6em var(--bg-color);
  --big: 1.25rem/1.6em var(--bg-color);
  --p: 1rem/1.6em var(--bg-color);
  --small:  0.75rem/1em var(--bg-color);

  --margin-xxs: .25rem;
  --margin-xs: .5rem;
  --margin-s: .75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  --primary-color: #071013;
  --secondary-color: #208FD2;
  --bg-color: #FDF0D5;
  --red-color: #B50B0B;
  --beautiful-grey:#212121;
  --some-white:#efefef;
  --white:#fff;
  --darker-white:hsla(0, 0%, 100%, 0.404);
  --header-height:3.5rem;
  --pink: #ff90e8;

}

/* Custom font styles */
.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}  
  
.montserrat-regular {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.container {
  width: auto;
}
  
/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: var(--beautiful-grey);*/
  /*box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);*/
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
/*=============== NAV ===============*/
.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  
.nav__logo {
  color: var(--beautiful-grey);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 500;
  margin-left: 2rem;
  text-decoration: none;
}
  
/* Align the dropdowns to the center */
.nav__dropdown-container {
  flex-grow: 1; /* Take remaining space to center */
  display: flex;
  justify-content: center;
}
  
.nav__burger, 
.nav__close {
  color: var(--beautiful-grey);
}
  
.nav__data {
  display: flex;
  justify-content: center; /* Center dropdowns */
  align-items: center;
 /* flex-grow: 1;  Allow dropdowns to use available space */
}
  
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
  
.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 28px;/*imp*/
  cursor: pointer;
  transition: opacity .1s, transform .6s;
}
  
.nav__close {
  opacity: 0;
}
  
  
.nav__menu{
  flex: -1;
  margin-right: 3rem;
  /*margin-left: 5rem;*/
  align-items: center;
  list-style: none;
  z-index: 10000;
}

.nav__link {
  color: var(--beautiful-grey);
  /*background-color: var(--beautiful-grey);*/
  font-weight: 400;
  font-size: 14px;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .7s;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  z-index: 1;
}

.nav__link:hover {
  color:var(--pink);
  background-color: var(--secondary-color);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
  position: relative;/**/
  list-style: none;
  z-index: 1;
}

.dropdown__arrow {
  font-size: 12px;/*imp*/
  font-weight: initial;
  transition: transform .8s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--beautiful-grey);
  /*background-color: var(--beautiful-grey);*/
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: .5rem;
  font-weight: 400;
  transition: background-color .5s;
  padding-bottom: 1.6rem;
  text-decoration: none;
  font-size: 14px;
  z-index: 1;

}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 12px;/*imp*/
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--secondary-color);
}


.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  margin-top: 0;
  min-width: 320px;
  overflow: hidden;
  transition: max-height .5s ease-out;
  list-style: none;
  margin-top: 0.4rem;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .5s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}


/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--red-color);
}

/* CTA Buttons */
.nav__cta {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Space between CTA buttons */
  margin-left: 1rem;
  align-items: center;
  list-style: none;
}


/*=====CTA BUTTONS===*/
/*get__started__button styling*/
.get__started__button{
  border: none;
  background: none;
  cursor: pointer;
}
  
.get__started__button span {
  padding-bottom: 7px;
  line-height: 1.6rem;
    
}
  
.get__started__button svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}
  
.get__started__button:hover svg {
  transform: translateX(0);
}
  
.get__started__button:active svg {
  transform: scale(0.9);
}
  
.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}
  
.hover-underline-animation:after {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  content: "";
}
  
.get__started__button:hover .hover-underline-animation:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
  
/*login__button*/
#login__button{
  color:var(--white);
  cursor: pointer;
  border: 1px solid var(--beautiful-grey);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--beautiful-grey);
  transition: 0.2s;
}
  
#login__button:hover {
  color: var(--hover-text);
  transform: translate(0.25rem, 0.25rem);
  background: var(--pink);
  box-shadow: 0.25rem 0.25rem var(--primary-color);
}
  
#login__button:active {
  transform: translate(0);
  box-shadow: none;
}


#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000; /* Place the canvas behind the other elements */
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 96%);
  height: 100%;
  width: 100%;
}
  

/*MEDIA Querries*/
/* Navigation for mobile devices */
@media screen and (max-width: 1000px) {
.nav__menu {
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 100%;
  height: calc(100vh - 3.5rem);
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: top .7s, opacity .3s;
  flex: 1; /*Take up remaining space */
  text-align: center; /* Center the dropdowns */
  z-index: 100;
}

.nav__menu::-webkit-scrollbar {
  width: 0;
  z-index: 100;
}

.nav__list {
  /*background-color: var(--beautiful-grey);*/
  padding-top: 1rem;
  align-self: start;
  list-style: none;
  z-index: 1;
}

}


/*=============== BREAKPOINTS
/* For small devices */
/*@media screen and (max-width: 340px) {
  /*container 1 that should be changed*/
    /*.container {
      margin-inline: 1rem;
      flex: 1;
    }*/
    
   /* .nav__link {
      padding-inline: 1rem;
    }
  
    /*second nav that needs changing*/
   /* .nav{
      display: inline-block;
    }
    /* CTA Buttons */
  /*  .nav__cta {
            flex-direction: column;
            gap: 1rem; /* Space between CTA buttons */
           /* margin-left: 0;
            justify-self: start;
            align-items: center;
    }
    
  }


/*devices smaller than laptop*/
@media screen and (max-width: 900px) {
  .nav__data {
    flex-grow: 1; /* Allow dropdowns to use available space */
    align-items: center;
    margin-top: 0.5rem;
    justify-content: space-between;
    z-index: 1;
  }
      
  .container {
    margin-inline: 1rem;
    flex: 1;
  }
  
  .nav__cta {
    flex-direction: column;
    gap: 1rem; /* Space between CTA buttons */
    margin-left: 0;
    justify-self: start;
    align-items: center;
  }
/*container 1 that should be changed*/
.container {
  margin-inline: 1rem;
  flex: 1;
}

.nav__link {
  padding-inline: 1rem;
}

/*second nav that needs changing*/
.nav{
  display: inline-block;
}
/* CTA Buttons */
.nav__cta {
        flex-direction: column;
        gap: 1rem; /* Space between CTA buttons */
        margin-left: 0;
        justify-self: start;
        align-items: center;
}


}
  
/*there lies an issue somewhere
@media screen and (min-width: 1024px) {
  .nav__toggle {
          display: none;
  }
  
  .container {
          flex:auto;
  }
  
  .nav__list{
          align-items: center;
  }
        
}


*/

  
/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }
  
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }

  .nav__link {
    height: 100%;
    padding: 0;
    column-gap: .25rem;
  }

  .nav__link:hover {
    background-color: transparent;
  }
  
  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }
  
  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s, top .5s;
  }
  
  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }
  
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }
  
  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 1rem;
    pointer-events: initial;
    transition: top .9s;
  } 
  
    /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .5s;
  }
      
}
  
  
